# Dependency directories
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
reports/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
.DS_Store

cucumber-report.json
cucumber-report.html
